img {
    float: left;
}

p {
    float: left;
}

.labelForTextbox {
  
    display: block;
    margin-bottom: 10px; /** Change this value to whatever you wish **/
  }

 h1 {
        text-align: center;
        font-size: 5em;
        color: whitesmoke;
  }

  .container {
    display: flex;
    flex-wrap:nowrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0px;
  }

  body {
    margin: 150px;
    padding: 0px;
    background-color: black;
    font-family: 'Arial';
  }

  p {
    color: whitesmoke;
    margin-top: 0px;
  }

.text-content {
    margin-left: 20px;
}

img {
  display: block;
  margin: 0px;
  width: 600px;
  height: 620px;
}
